{% extends 'base.html.twig' %}

{% block title %}Authentication via Discord{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto">
        <div class="container">

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}

                {% for message in app.flashes('danger') %}

                <div class="alert alert-danger">
                    {{ message }}
                </div>

                {% endfor %}

                <form action="{{ path('app_discord_connect') }}" method="post">
                    <input type="hidden" name="token" value=" {{ csrf_token('discord-auth') }} "
                    <h1 class="h1 mb-2 fw-normal">Authentication</h1>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Connect with Discord</button>
                </form>
                {% else %}
                <div class="card" style="width: 14rem;">
                    <img src="{{ app.user.avatarUrl }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.user.username }}</h5>
                        <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout PEPOGLAD</a>
                    </div>
                </div>
            {% endif %}
            
        </div>
    </main>
{% endblock %}
