{% extends 'base.html.twig' %}

{% block title %}{{ session.title }} | My Pomodoro Session{% endblock %}

{% block body %}
    <h1>{{ session.title }}</h1>
    <p>
        Created: {{ session.created | date('H:i:s Y-m-d ') }}<br>
        Author: {{ session.author.username }}<br>
        Duration: {{ session.sessionCount }} minutes<br>
    </p>
    
    {# Render form to edit session data if current user is author of the session#}
    {% if is_granted('ROLE_USER') and session.author == app.user %}
        <a href="#">Edit session</a>
    {% endif %}
{% endblock %}