{% set sessionLength = session.sessionLength %}
{% set breakLength = session.breakLength %}
{% set sessionCount = session.sessionCount %}

<div class="w-full md:w-2/3 mx-auto mb-20 flex justify-between items-center p-2 bg-white shadow-md">
  <!-- Timer -->
  <div class="w-2/5">
    <div>
      <h1 class="text-center font-bold text-lg mb-2" id="time">Session 1/{{ sessionCount }} </h1>
    </div>
    <div class="flex justify-center space-x-4">
      <button class="bg-green-500 px-1 py-1 rounded-md text-white font-bold" id="start-button" onclick="start()">Start</button>
      <button class="bg-red-500 px-1 py-1 rounded-md text-white font-bold hidden" id="pause-button" onclick="pause()">Pause</button>
      <button class="bg-blue-500 px-1 py-1 rounded-md text-white font-bold hidden" id="end-button" onclick="endSession()">End Session</button>
    </div>
  </div>
  <!-- Tasks -->
  <div class="w-3/5">
    <div>
      <h1 class="text-center font-bold text-lg mb-2">TEST</h1>
    </div>
    <div class="flex justify-center space-x-4">
      <p>TESS </br></p>
      <p>TESS </br></p>
      <p>TESS </br></p>
    </div>
  </div>
</div>
<!-- Importuj skrypt timer.js -->
<script src="{{ asset('assets/js/timer.js') }}"></script>
<!-- Przypisz odpowiednie wartości do zmiennych w skrypcie timer.js -->
<script>
  sessionLength = {{ sessionLength }};
  breakLength = {{ breakLength }};
  sessionCount = {{ sessionCount }};
  minutes = sessionLength;
  seconds = 0;
  isSession = true;
</script>